---
import { Container, FeatureCard } from '@components/odyssey-theme';

import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
---

<Layout>
	<HomeHeroSection />
	<Container>
		<section class="feature-card__section">
			<h2>Initiatives</h2>
			<p>
				Explore the Research Community Wing and our SMP Program
			</p>
			<div class="feature-card__grid">
				<FeatureCard href="/landing-pages/research-community" title="Research Community Home" imgSrc="/assets/images/home/screenshots/research-community" alt="Research Community Home">
				</FeatureCard>
				<FeatureCard href="/landing-pages/smp" title="Student Mentorship Program" imgSrc="/assets/images/home/screenshots/smp">
				</FeatureCard>
			</div>
		</section>
	</Container>

	<Container>
		<section class="feature-card__section">
			<h2>About and FAQ's</h2>
			<p>
				Learn more about the Academic and Career council, and common queries.
			</p>
			<div class="feature-card__grid">
				<FeatureCard href="/council/about" title="About Page" imgSrc="/assets/images/home/screenshots/about">
				</FeatureCard>
				<FeatureCard href="/council/contact" title="FAQ's" imgSrc="/assets/images/home/screenshots/faq">
				</FeatureCard>
				<FeatureCard href="/blog/" title="Blog Page" imgSrc="/assets/images/home/screenshots/blog">
				</FeatureCard>
				<FeatureCard
					href="/blog/posts/SoAP"
					title="Blog Post"
          imgSrc="/assets/images/home/screenshots/blog-post"
				>
				</FeatureCard>
				<FeatureCard
					href="/council/structure"
					imgSrc="/assets/images/home/screenshots/structure"
					title="The Council"
				>
				</FeatureCard>
			</div>
		</section>
	</Container>

	<Container>
		<section class="feature-card__section">
			<h2>Academic Sites of IIT Patna</h2>
			<p></p>
			<div class="feature-card__grid">
				<FeatureCard
					href="https://ais.iitp.ac.in/moodle/"
					imgSrc="/assets/images/home/screenshots/moodle"
					title="Moodle"
				>
				</FeatureCard>
				<FeatureCard
					href="https://ais.iitp.ac.in/"
					imgSrc="/assets/images/home/screenshots/ais"
					title="AIS"
				>
				</FeatureCard>
			</div>
		</section>
	</Container>
</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>
