---
import { Icon } from 'astro-icon/components';
import {
	AnnouncementBar,
	Button,
	CustomerQuoteSection,
	ThreeColumnTextSection,
	YouTubeEmbedSection,
	StickyTextImageSection,
	CtaCardSection,
} from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import TextAndImageHero from '../../components/sections/heros/TextAndImageHero.astro';

const seo = {
	title: 'Research Community',
	description: 'Research Community Page',
};
---

<AnnouncementBar
	text="Read Our Latest Blog Post"
	href="/blog/posts/nptel-courses/"
	slot="announcement-bar"
/>
<Layout {seo}>
	<TextAndImageHero reversed>
		<div slot="text-container">
			<h1>Chart your path to a career in research</h1>
			<p>Covering topics from securing Internsips to applications for higher studies and upskilling in your domains of interest.</p>
		</div>
		<div slot="btns-container">
			<Button
			 	class="hero-btns__container"
				href="https://cciitpatna-my.sharepoint.com/:b:/g/personal/ugr_iitp_ac_in/EXBjJeUHNmFEveu6_JsbbJcBCxvcV3jezpM7RpK23TVMiA?e=7zRgab"
				outlined
				newTab
			>
				Download Guide
			</Button>
			<Button
				class="hero-btns__container"
				href="https://drive.google.com/drive/folders/1qLYR_pPPSGLrN4wNO8kSSXUqX8OH7Me_?usp=sharing"
				outlined
				newTab
			>
				Study Resources
			</Button>
			<Button
				class="hero-btns__container"
				href="https://docs.google.com/presentation/d/1vERkEvbj3pWCyXzp9GBl-6ATLlCbDH1I/edit?usp=sharing&ouid=106784282768471593694&rtpof=true&sd=true"
				outlined
				newTab
			>
				Grad School Applications
			</Button>
		</div>
		<video slot="image-container" id="home-hero-video" autoplay muted loop playsinline>
			<source src="/assets/images/research-community/rc_anim.mp4" type="video/mp4">
			Your browser does not support the video tag.
		</video>
		
		
	</TextAndImageHero>

	<!-- <CustomerQuoteSection
		quoteText="Mentors From 3rd and 4th year "
		customerName="Happy Customer"
	/> -->

	<ThreeColumnTextSection>
		<div slot="column-1-body">
			<h2>Resources</h2>
			<p>
				Resumes, SOP's, Internships, Research Papers, Higher Studies, and much more.
			</p>
		</div>
		<Button 	>Learn More</Button>
		<div slot="column-2-body">
			<h2>Sessions</h2>
			<p>
				Join our sessions, where we discuss various topics related to research and higher studies by your mentors from 3rd and 4th Year.
			</p>
		</div>
		<Button slot="column-2-cta" outlined>Learn More</Button>
		<div slot="column-3-body">
			<h2>Discord Community</h2>
			<p>
				Join our Discord community to connect with alumni across different fields in research and higher studies. Feel free to share and use resources.
			</p>
		</div>
		<Button slot="column-3-cta" href="https://discord.com/invite/3ajZP647">Join In</Button>
	</ThreeColumnTextSection>

	<YouTubeEmbedSection url="https://www.youtube.com/watch?v=XiZmleIJXjo&t=1252s&pp=ygUccmVzZWFyY2ggY29tbXVuaXR5IGlpdCBwYXRuYQ%3D%3D" rounded
	/>


	<CtaCardSection
		background="var(--theme-surface-2)"
		color="var(--theme-on-surface-2)"
	>
		<h2>Subscribe to the Research Community Channel on YouTube Today</h2>
		<p>
			
		</p>
		<Button href="https://www.youtube.com/@researchcommunityiitp" customIcon
			>Get Started <Fragment slot="icon">
				<Icon name="ic:baseline-chevron-right" />
			</Fragment></Button
		>
	</CtaCardSection>
</Layout>
