---
import Layout from '../../layouts/Base.astro';
import LandingContactForm from '../../components/forms/LandingContactForm.astro';
import Logo from '../../components/Logo.astro';
import {
	AnnouncementBar,
	Button,
	CustomerQuoteSection,
	ThreeColumnTextSection,
	YouTubeEmbedSection,
	StickyTextImageSection,
	CtaCardSection,
} from '@components/odyssey-theme';
const seo = {
    title: 'Student Mentorship Program | IIT Patna',
    description: 'Learn about the Student Mentorship Program at IIT Patna.',
};
---

<Layout seo={seo}>
  <div class="full-page-split__wrapper">
    <section class="full-page-split__image-section">
      <div class="full-page-split__logo">
        <a href="/">
          <Logo />
        </a>
      </div>
      <picture>
        <img
          src="/assets/images/home/classic-hero.jpg"
          alt="IIT Patna"
          class="full-page-split__image"
        />
      </picture>
    </section>
    <section class="full-page-split__content-section">
      <div class="full-page-split__content-container">  
        <h1>Student Mentorship Program at IIT Patna</h1>
        <p>Dear Students,</p>
        <p>
          The Student Mentorship Program at IIT Patna is designed to help you navigate your academic journey with ease. Our mentors are here to guide you through the challenges of college life, help you make informed decisions, and provide you with the support you need to succeed.
          They are allotted based on your branch, year of study, career interests and hobbies. They will help you with your academics, career planning, and personal development. 
      </div>
      <!-- add 2 buttons -->
      <div class="button-group">
        <div style="display: flex; gap: 1rem; margin: 5%;">
          <Button href="https://cciitpatna-my.sharepoint.com/:p:/g/personal/ugr_iitp_ac_in/EVtdPZAoki9HpkEO7H2899UBxxy7CFu8X3OJDBUJC1WdZA?e=01R7Nz">Download Program Oveview</Button>
          <Button href="https://cciitpatna-my.sharepoint.com/:b:/g/personal/ugr_iitp_ac_in/Eb18NdIo_U9Csfaqp4iuRpkBLpj8Tpvivq33aq4WXvfZWg?e=EYjSkS">View Guidelines</Button>
        </div>
      </div>
    </section>
  </div>
</Layout>

<style>
.full-page-split__wrapper {
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-auto-columns: 1fr;
  min-height: 100vh;
}
.full-page-split__image-section {
  position: relative;
}
.full-page-split__image-section :global(img) {
 width: 100%;
  height: 100vh;
  object-fit: cover;
}
.full-page-split__logo {
  background-color: var(--theme-surface-1);
  color: (--theme-on-surface-1);
  padding: 0.5rem 1rem;
  border-radius: var(--theme-shape-radius);
  top: 1rem;
  left: 1rem;
  position: absolute;
  z-index: 1;
}
.full-page-split__logo a {
  text-decoration: none;
}
.full-page-split__content-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.full-page-split__content-container {
  margin: 1rem;
  padding: 2rem;
  background-color: var(--theme-surface-1);
  color: var(--theme-on-surface-1);
  border-radius: var(--theme-shape-radius);
}
.full-page-split__content-container h1 {
  font-size: var(--font-size-xl);
}
@media(max-width: 768px) {
  .full-page-split__wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 30vh auto;
  }
  .full-page-split__image-section :global(img) {
    max-height: 30vh;
  }
}
</style>